name: Clean Caches

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions: {}

jobs:
  clean-caches:
    name: Clean Caches
    permissions:
      contents: read
    uses: JackPlowman/reusable-workflows/.github/workflows/common-clean-caches.yml@6e14372cd13d8b88def2a469fa0a7235771bed87 # v2025.07.05.01
    secrets:
      workflow_github_token: ${{ secrets.GH_TOKEN }}
