name: "Pull Request Tasks"

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: read

jobs:
  common-pull-request-tasks:
    name: Common Pull Request Tasks
    permissions:
      pull-requests: write
    uses: JackPlowman/reusable-workflows/.github/workflows/common-pull-request-tasks.yml@50b39a99315d267f3a3605eb144fd2368b552cef # v2025.08.25.02
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
